@import "../../base.css";

.landing-section {
    width: 100%;
    background-color: var(--green);
}
.hero-card {
    background-color: #fff;
    border-radius: 60px;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 15px rgba(0, 0, 0, 0.25);
}

.image-wrapper {
    width: 50%;
}
.hero-image {
    display: flex;
    width: 100%;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 90%;
    border-radius: 60px;
    box-shadow: 5px 5px 15px rgba(60, 158, 130, 0.5),
        -5px -5px 15px rgba(60, 158, 130, 0.5);
}
.hero-text {
    background-color: transparent;
    width: 50%;
    font-family: "Zalando Sans" sans-serif;
    color: darkslategray;
}
.hero-text-p {
    font-size: 16px;
    color: darkslategray;
}
